.container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
  margin-right: 10px;
  min-width: 49.6%;
  width: 20%;
}
