.thumb {
  height: 300px;
  margin-bottom: 20px;
  width: 360px;
}

.header {
  display: flex;
  justify-content: space-between;
}

h2 {
  color: black;
  font-size: 32px;
}

h4 {
  color: gray;
  font-size: 16px;
}
