.filters-buttons-div {
  display: flex;
}

.filters-buttons-div button {
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  width: 100%;
}

.favorite-recipe-card {
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  margin: 10px;
}

img {
  border-radius: 5px;
}

.favorite-recipe-infos-div {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.favorite-recipe-name {
  color: black;
  font-size: 20px;
}
