header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Roboto, arial;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
}

p {
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #a9a9a9;
  text-align: left;
}

.info-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.buttons-container {
  display: inline;
  width: 105px;
}

.img-header {
  height: 155px;
  width: 360px;
}

.icons {
  height: 26px;
  width: 26px;
}
