.logo {
  margin-bottom: 40px;
  width: 150px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  position: relative;
  width: 70%;
}

.login-form .form-floating {
  width: 100%;
}

.login-form button {
  background-color: #4884ad;
  border: none;
  width: 100%;
}

.login-form button:hover {
  background-color: #07739e;
}

.login-form button:disabled {
  background-color: #4884ad;
  opacity: 0.8;
}

@media screen and ( min-width : 768px ) {

  .login-form {
    width: 40%;
  }
}

@media screen and ( min-width : 1024px ) {

  .login-form {
    width: 30%;
  }

  .logo {
    width: 200px;
  }
}
