.select-area {
  background-color: white;
  border: black solid 1px;
  box-shadow: 3px 5px gray;
  color: black;
  font-size: 2.5vh;
  height: 4vh;
  margin: 7% 5% 5% 2%;
  width: 50vh;
}

.exploreContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2vh;
}

.btnExplore {
  background-color: white;
  border: black solid 1px;
  box-shadow: 2px 3px black;
  color: black;
  margin: 1vh;
  width: 70%;
}

.btnExploreComidas {
  background-color: white;
  border: black solid 1px;
  box-shadow: 2px 3px #ff470a;
  color: black;
  margin: 1vh;
  width: 70%;
}

.btnExploreBebidas {
  background-color: white;
  border: black solid 1px;
  box-shadow: 2px 3px #1385f6;
  color: black;
  margin: 1vh;
  width: 70%;
}

@media screen and ( max-width : 400px ) {

  .btnExplore {
    min-width: 45%;
  }

}
