.footer {
  align-items: center;
  background-color: lightgray;
  bottom: 0;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  max-width: 800px;
  padding: 1vh;
  position: fixed;
  right: 50vw;
  transform: translateX(50%);
  width: 100vw;
  z-index: 99;
}

.neutralStyle {
  background-color: whitesmoke;
}

.drinkStyle {
  background-color: #1385f6;
}

.drinkStyle img, .drinkStyle h3, .foodStyle img, .foodStyle h3 {
  filter: invert(100%);
}

.foodStyle {
  background-color: #ff470a;
}
