.header {
  align-items: center;
  color: black;
  display: flex;
  height: 8vh;
  justify-content: space-evenly;
  max-width: 800px;
  position: fixed;
  right: 50vw;
  top: 0;
  transform: translateX(50%);
  width: 100vw;
  z-index: 99;
}

.header h3 {
  margin: 0;
}

.header a {
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.filtros {
  margin-top: 10px;
}

.btnSearch {
  background-color: transparent;
  border: none;
}

.neutralStyle {
  background-color: lightgray;
}

.drinkStyle {
  background-color: #1385f6;
}

.drinkStyle img, .drinkStyle h3, .foodStyle img, .foodStyle h3 {
  filter: invert(100%);
}

.foodStyle {
  background-color: #ff470a;
}

.serchBar {
  background-color: whitesmoke;
  border-radius: 0 0 0.5em 0.5em;
  max-width: 800px;
  padding-top: 1vh;
  position: fixed;
  right: 50vw;
  top: 8vh;
  transform: translateX(50%);
  width: 100vw;
  z-index: 3;
}
