.header {
  align-items: center;
  color: black;
  display: flex;
  height: 8vh;
  justify-content: space-evenly;
  max-width: 800px;
  position: fixed;
  right: 50vw;
  top: 0;
  transform: translateX(50%);
  width: 100vw;
  z-index: 99;
}

.favoriteAndDone {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}


.header a {
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.filtros {
  margin-top: 10px;
}

.btnSearch {
  background-color: transparent;
  border: none;
}

.neutralStyle {
  background-color: white;
}


.textPerfil {
  display: inline;
  margin-right: 130px;
}

@media only screen and ( max-width : 360px ) {

  .textPerfil {
    margin-right: 25px;
  }
}

.drinkStyle {
  background-color: #1385f6;
}

.drinkStyle img, .drinkStyle h3, .foodStyle img, .foodStyle h3 {
  background: transparent;
  filter: invert(100%);
}

.foodStyle {
  background-color: #ff470a;
}

.serchBar {
  background-color: rgb(167, 165, 165);
  border-radius: 0 0 0.5em 0.5em;
  max-width: 800px;
  padding-top: 1vh;
  position: fixed;
  right: 50vw;
  top: 8vh;
  transform: translateX(50%);
  width: 100vw;
  z-index: 3;
}

.buttonSearch {
  border-radius: 10px;
  margin-left: 30px;
}

.barraDeBusca {
  height: 25px;
  margin-left: 15px;
}

.labelRadio {
  margin-left: 15px;
  margin-top: 10px;
}

.radio {
  margin-left: 15px;
  margin-right: 5px;
}

.initialRadio {
  margin-right: 5px;
}
