.header {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  height: 50px;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.filtros {
  margin-top: 50px;
}

.btnSearch {
  background-color: transparent;
  border: none;
  mix-blend-mode: multiply;
}
