@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap') ;

body {
  background-color: whitesmoke;
}

.loginContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: center;
  left: 50%;
  mix-blend-mode: multiply;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loginContainer img {
  height: 20vh;
}

.loginContainer h1 {
  font-family: Roboto Slab , serif;
  font-size: 3.5vh;
}

.loginForm {
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: space-evenly;
  width: 300px;
}

.container {
  display: flex;
  justify-content: center;
}

.login {
  border: solid black 1px;
  /* height: 5%; */
  width: 70%;
}

.btn {
  background-color: rgb(35, 37, 35);
  border: white solid 1px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  height: 10%;
  width: 50%;
}

.btn:hover {
  background-color: rgb(57, 138, 57);
}
