.btnFavoriteRecipes {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnFavoriteRecipes button {
  border-radius: 5px;
  margin: 6% 5px 5%;
  padding: 5px 25px;
}

@media only screen and ( max-width : 360px ) {

  .btnFavoriteRecipes button {
    border-radius: 5px;
    margin-top: 5%;
  }
}


.paizao {
  display: flex;
  justify-content: space-between;
}

.shareButton {
  border: none;
  margin-bottom: 10px;
}

.paiDeTodos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-filtro {
  background-color: white;
  border: none;
}

.listaReceitas {
  display: flex;
}

.cardRecipe {
  margin-bottom: 15px;
}
