.btnFavoriteRecipes {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vh;
}

.btnFavoriteRecipes button {
  border-radius: 5px;
  margin: 15% 5px 5%;
  padding: 5px 25px;
}


.paizao {
  display: flex;
  justify-content: space-between;
}

.shareButton {
  border: none;
  margin-bottom: 10px;
}

.paiDeTodos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-filtro {
  background-color: white;
  border: none;
}

.listaReceitas {
  display: flex;
}
