.category-container {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  gap: 10px;
  height: 120px;
  justify-content: space-evenly;
  margin: 80px auto 20px;
  width: 100%;
}

.category-container button {
  background-color: white;
  border: none;
  color: #492b22;
  font-family: Dancing Script , cursive;
  font-size: 20px;
  font-weight: 600;
}
