.header-food {
  background-color: #c4c4c4;
  display: flex;
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;

}

.search-btn {
  background-color: #c4c4c4;
  border: none;
  height: 30px;
  left: 317px;
  position: absolute;
  top: 12px;
  width: 30px;
}

.profile-btn {
  background-color: #c4c4c4;
  border: none;
  height: 30px;
  left: 15;
  position: absolute;
  top: 12px;
  width: 30px;
}

.header-food h1 {
  align-items: flex-end;
  color: black;
  display: flex;
  font-size: 30px;
  font-style: normal;
  height: 35px;
  left: 123px;
  line-height: 35px;
  position: absolute;
  top: 12px;
  width: 119px;
}
