.footer {
  align-items: center;
  background-color: rgb(214, 40, 40);
  border-radius: 9px 9px 0 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100vw;
  padding: 6px;
  position: fixed;
}

.footer a input {
  filter: invert(100%);
  vertical-align: middle;
}
