.footer {
  align-items: center;
  background-color: rgb(196, 196, 196);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100vw;
  padding: 6px;
  position: fixed;
}

.footer a input {
  vertical-align: middle;
}
