.header-container {
  align-items: center;
  background-color: rgb(214, 40, 40);
  border-radius: 0 0 9px 9px;

  /* background-color: rgb(196, 196, 196); */
  display: flex;
  flex-grow: 0;
  height: 9vh;
  justify-content: space-around;
  min-width: 100vw;
  padding: 0.2em 0;
}

.profile-icon-container {
  background-color: white;
  border: none;
  border-radius: 6px;
  margin: 0;
  margin-left: 0.5em;
  padding: 6px;
}

.search-icon-container {
  background-color: white;
  border: none;
  border-radius: 6px;
  margin-right: 0.5em;
  padding: 6px;
}

.profile-icon {
  height: 30px;
  width: 30px;
}

.title-content {
  color: white;
  font-size: 1.7em;
  font-weight: 600;
  margin: 0;
}

.title-container {
  flex-grow: 1;
  text-align: center;
}

.search-bar-container {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 0 0 9px 9px;
  box-shadow: 0 2px 6px -3px grey;
  display: flex;
  flex-direction: column;
  height: 5.6em;
  justify-content: space-between;
  margin-bottom: 1em;
  min-width: 100vw;
  padding-bottom: 40%;
}

.search-input {
  border: solid 1px grey;
  border-radius: 4px;
  margin-top: 0.6em;
  min-width: 80vw;
}

.radio-container {
  display: flex;
  justify-content: space-around;
  margin-top: 0.6em;
  width: 95vw;
}

.search-radio-label {
  align-items: center;
  display: flex;
}

.search-radio {
  margin-right: 3px;
  order: 0;
}

.exec-search-btn {
  background-color: rgb(196, 196, 196);
  border: transparent;
  border-radius: 3px;
  box-shadow: 0 0 6px -1px darkgrey;
  font-size: 0.9em;
  margin-top: 0.6em;
  padding: 6px;
  width: fit-content;
}

