.recipe-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.recipe-photo {
  display: block;
  max-width: 100vw;
}

.recipe-title-container h1 {
  margin: 0;
  padding: 0;
}

.category-title {
  align-self: flex-end;
  margin: 0;
  padding: 6px;
}

.recipe-title {
  align-self: flex-start;
}

.recipe-title .category-title {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.sub-title {
  align-self: flex-start;
  margin: 0;
  padding: 9px;
}

.details-ing-list {
  align-self: flex-start;
  list-style: none;
  padding-left: 15px;
  text-align: left;
}

.recipe-title-container {
  align-items: center;
  box-shadow: 0 0 6px -1px darkgrey;
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  padding: 1em;
}

.recipe-buttons-container {
  display: flex;
}

.instructions-paragraph {
  padding: 0 15px;
  text-align: justify;
}

.recipe-video {
  height: 201px;
  width: 100%;
}

.share-btn {
  background-color: transparent;
  border: 0;
}

.favorite-btn {
  background-color: transparent;
  border: 0;
  max-height: 26px;
  max-width: 26px;
}
