.recomendations-container {
  margin-bottom: 13vh;
}

.recomendations-cards {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 106%;
}

.recipe-card {
  height: 190px;
  min-width: 48%;
  overflow: hidden;
  padding: 2%;
  width: 50%;
}

.recipe-card h6 {
  font-weight: 300;
  margin: 0;
  padding-top: 3px;
}

.card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  min-height: 60%;
  width: 100%;
}

.card-info {
  height: 60%;
  width: 100%;
}
