.container {
  background: linear-gradient(-45deg, rgba(12,16,21,1) 0%, rgba(37,43,50,1) 100%);
  border-radius: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.215);
  margin: 7px;
  max-width: 130px;
  min-width: calc(135px - 5px);
  padding: 15px;
}

.container a {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
}

.container img {
  border-radius: 15px;
  height: 130px;
  object-fit: cover;
  width: 130px;
}

.container p {
  box-sizing: border-box;
  color: white;
  margin: 0;
  text-align: center;
}
