.component-details {
  padding: 10px;
}

.start-button {
  bottom: 0;
  position: fixed;
}

.start-button-none {
  bottom: 0;
  display: none;
  position: fixed;
}

.page-container {
  overflow: hidden;
}
