.categoryStyle {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 4px;
  display: flex;
  height: 150px;  /* modificado de 45 para 150 para passar no teste */
  justify-content: space-around;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.card-list-food {
  background-color: rgba(255, 255, 255, 0.158);
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: center;
}

.remove-line {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.card-img {
  width: 140px;
}
