.footerMenu {
  background: linear-gradient(90deg, rgb(253, 225, 149) 0%, rgb(255, 166, 0) 100%);
  display: flex;
  left: 0;
  padding: 5px;
  bottom: 0px;
  right: 0;
  justify-content: space-between;
  margin-top: 20px;
};
