.footer {
  align-items: center;
  background-color: rgba(255, 187, 0, 0.678);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  position: fixed;
}

.fixed {
  position: fixed;
}

.bnt-footer {
  align-items: flex-start;
  height: 60px;
  justify-content: space-around;
  padding: 10px;
  width: 60px;

}

