*, p, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  color: #222;
  margin: 0;
  padding: 0;
}

.body {
  font-family: Arial , Helvetica , sans-serif;
  min-height: 100vh;
  padding-top: 48px;
}

.search {
  background-color: white;
  top: 48px;
}

.bg-color {
  background-color: #a3c2db;
  color: #222;
}

.logo {
  width: 250px;
}

.react-multi-carousel-item {
  display: flex;
  font-family: Arial , Helvetica , sans-serif;
  height: 220px;
  justify-content: center;
}

.react-multi-carousel-item .card {
  width: 85%;
}

.react-multi-carousel-item .card-title {
  font-size: 16pt;
  font-weight: 700;
}

.react-multi-carousel-item .card-text {
  font-size: 14pt;
}

.recipes-checkbox {
  align-items: center;
  display: flex;
  list-style: none;
}

:checked + span {
  color: black;
  text-decoration: line-through;
}

select {
  font-size: 18pt;
}
