.fave-btn {
  background: none;
  border: none;
}

.share-btn {
  background: none;
  border: none;
}

.title-and-btns {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}

.share-fave-btns {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-end;
}

.copy-div {
  color: #eb6424;
}

.start-recipe-btn {
  position: fixed;
  top: 0;
}

h3 {
  color: black;
}

.carousel {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}
