.recipe-photo {
  width: 100vw;
}

.fave-btn {
  background: none;
  border: none;
}

.share-btn {
  background: none;
  border: none;
}

.title-and-btns {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}

.share-fave-btns {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-end;
}

.copy-div {
  color: #eb6424;
}

.button-wrapper-details {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

h3 {
  color: black;
}

.carousel {
  background-color: black;
  color: white;
  margin-bottom: 2em;
  padding: 20px;
  text-align: center;
}
