.container {
  background-color: #669966;
  height: 100%;
  min-height: 100vh;
}

.favorite-card {
  background-color: #99dd99;
  border: 2px solid black;
  border-radius: 2px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vh 1vw ;
}

.favorite-info {
  width: 40vw;
  margin: 0 1vw;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.favorite-category {
  font-size: 12px;
}

.favorite-name {
  font-size: 4.5vw;
  color: darkgoldenrod;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100vw;
}

.favorite-done-date {
  font-size: 10px;
}

.tags-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.favorite-tags {
  font-size: 10px;
}

.favorite-buttons {
  display: flex;
  justify-content: space-around;
}

.favorite-buttons button {
  background-color: rgb(255, 100, 185);
  border: none;
  border-radius: 10px;
  filter: invert(100);
  margin: 0;
  padding: 10px;
}

.filter-button {
  background-color: green;
  width: 30.5vw;
  color: goldenrod;
}