.FooterPags {
  background-color: rgb(34, 205, 34);
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: space-around;
  margin: auto;
  position: fixed;
  text-align: center;
  width: 100%;
}
