footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: #f4d78d;
  align-items: center;
  box-shadow: 0rem 0rem 0.3rem 0rem rgba(0, 0, 0, 0.45);
}

footer img {
  height: 30px;
  margin: 10px;
}
