/* .body {
	align-items: justify;
	display: flex;
	text-align: center;
}

.footer {
	background-color: red;
	bottom: 0;
	color: white;
	left: 0;
	position: fixed;
	text-align: center;
	width: 100%;
} */

