header {
  background-color: #eb6424;
  display: block;
}

input {
  margin: 5px;
}

.header-div {
  padding: 5px;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
}

.profile-icon {
  filter: invert(100%);
}

.search-button {
  background-color: #eb6424;
  border: none;
  cursor: pointer;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

.search-button img {
  filter: invert(100%);
}

.profile-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  color: #fff7eb;
  display: flex;
  flex-direction: column;
  font-family: 'Capriola', sans-serif;
  justify-content: center;
  margin: 0px;
}

.search-form {
  background-color: #fa9500;
}
