@font-face {
  font-family: Amarillo;
  src: url('./fonts/Amarillo.otf');
}

header {
  background-color: #eb6424;
  border-radius: 5px;
  padding: 1em;
}

input {
  margin: 5px;
}

.header-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.profile-icon {
  filter: invert(100%);
}

.search-button {
  background-color: #eb6424;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

.search-button:active {
  box-shadow: 0;
}

.search-button img {
  filter: invert(100%);
}

.header-div p {
  color: #fff7eb;
  font-family: Amarillo , sans-serif;
  font-size: 25px;
  margin: 0;
}

.search-form {
  background-color: #eb6424;
  border-radius: 5px;
  color: #fff7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.search-form input {
  border: 0.5px solid #a3a19f;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}

.search-form button {
  background-color: #fa9500;
  box-shadow: 10px 10px 5px 0 rgba(65, 64, 64, 0.3);
  color: white;
  font-size: large;
  font-weight: 900;
}

.search-radio-btns {
  margin: 10px 0 0 5px;
}
