
.app-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 365px;
  margin: auto;
  background-color: #f8f9f0;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}
