.card-done {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.img-card-done {
  width: 6.25rem;
}

.card-done-infos {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.card-done-share {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-share, .icon-favorite {
  width: 1.25rem;
}

.card-done-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.card-favorite-share {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
