.not-found-page {
  align-items: center;
  background-color: #312e2e;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
}

.not-found-page h1 {
  color: #edac05;
  font-weight: 700;
}

.adam-driver {
  height: 100%;
  width: 300px;
}
