.profile-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 100%;
}

.button {
  background-color: #eb6424;
  border: none;
  border-radius: 5px;
  color: #fff7eb;
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  padding: 5px 15px;
}