.container-cards {
  display: grid;
  max-width: 340px;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 10px;
}

.container-cards img {
  width: 100%;
}

.card {
  height: 280px;
  text-align: center;
}
