li {
  width: fit-content;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.recipecard {
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  text-decoration: none;
  margin: 5px auto;
  background-color: white;
  max-width: 140px;
  height: 200px;
}

.recipecard img {
  max-width: 100%;
}

.recipecard p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
}

a {
  text-decoration: none;
  color: #042647;
}

.recipecard-recomend {
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  text-decoration: none;
  margin: 5px auto;
  background-color: white;
  max-width: 140px;
  height: 100px;
}

.recipecard-recomend p {
  text-align: center;
}