ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.recipe-card {
  border: solid 1px #b8b8b7;
  border-radius: 10px;
  color: #565554;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  width: 120px;
}

.recipe-card img {
  width: 100px;
}

.recipe-card p {
  margin: 0;
}

.filter-button {
  background-color: #eb6424;
  border: none;
  border-radius: 5px;
  color: #fff7eb;
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  padding: 5px 15px;
}

.filter-button:active {
  background-color: #fa9500;
}

