.sugestions-container {
  border:solid gray 1px;
  box-sizing: border-box;
  box-shadow: 2px 3px rgba(128, 128, 128, 0.466);
  display: flex;
  margin-top: 5%;
  margin-bottom: 13%;
  margin-right: 5%;
  padding: 3%;
  width: 100%;
}

.sugestions-imagem-container {
  margin-top: 5%;
}

.sugestions-imagem {
  width: 150px;
}
