h1 {
  color: var(--color-first);
  font-family: var(--text-bangers);
}

h2 {
  color: var(--color-secund);
  font-family: var(--text-russo);
}

.login-container img {
  align-self: center;
  margin-bottom: 100px;
  width: 200px;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-family: var(--text-abel);
  margin: auto;
  width: 80%;
}

.login-form button {
  align-self: center;

  /* background-color: var(--color-secund) !important;
  border: none !important;
  color: var(--bg-color) !important; */
  font-family: var(--text-russo);
}

.login-form h1, h2 {
  align-self: center;
}
