.drinks-container {
  height: 97vh;
  width: 97vw;
}

.drinks-cards-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  padding-bottom: 6em;
}

.drinks-categories-container {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  height: auto;
  justify-content: space-around;
  margin: 0.2em auto;
  min-width: 100vw;
}

.drinks-categories {
  background-color: whitesmoke;
  border: transparent;
  border-radius: 6px;
  box-shadow: 0 0 4px -1px grey;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  height: 3em;
  margin: 1px;
  text-align: center;
  text-indent: 0.5em;
  width: 8.5em;
}

.drinks-categories:hover {
  box-shadow: 0 0 6px -1px rgb(0, 48, 73);
  transition: 10;
}

.drink-card-link {
  color: black;
  text-decoration: none;
}

@media screen and ( min-width : 485px ) and ( max-width : 880px ) {

  .drinks-categories-container {
    height: 7em;
  }

  .drinks-categories {
    font-size: 0.9em;
    margin: 0 1em;
    text-indent: 0.3em;
    width: 8.5em;
  }

}

@media screen and ( min-width : 340px ) and ( max-width : 485px ) {

  .drinks-categories-container {
    height: 5.5em;
  }

  .drinks-categories {
    font-size: 0.7em;
    margin: 0.4em;
    text-indent: 0.2em;
    width: 8.3em;
  }

  .drinks-categories:hover {
    border: 0.2em solid black;
  }

}
