.details {
  background-color: whitesmoke;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.start-recipe-btn {
  background-color: green;
  border: transparent;
  border-radius: 9px;
  bottom: 0%;
  color: white;
  font-size: larger;
  font-weight: 600;
  height: 9vh;
  margin-bottom: 6px;
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  width: 96vw;
}
