.in-progress-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.recipe-photo {
  display: block;
  max-width: 100vw;
}

.recipe-title-container h1 {
  margin: 0;
  padding: 0;
}

.category-title {
  align-self: flex-end;
  margin: 0;
  padding: 6px;
}

.recipe-title .category-title {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.sub-title {
  align-self: flex-start;
  margin: 0;
  padding: 9px;
}

.progress-ing-list {
  align-self: flex-start;
  padding-left: 15px;
  text-align: left;
}

.progress-ing-list input {
  margin-right: 9px;
}

.recipe-title-container {
  align-items: center;
  box-shadow: 0 0 6px -1px darkgrey;
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  padding: 1em;
}

.instructions-paragraph {
  padding: 0 15px;
  text-align: justify;
}

.share-btn {
  background-color: transparent;
  border: 0;
}

.favorite-btn {
  background-color: transparent;
  border: 0;
  max-width: 100%;
}

.finish-recipe-btn {
  background-color: green;
  border: transparent;
  border-radius: 9px;
  color: white;
  font-size: larger;
  font-weight: 600;
  height: 9vh;
  margin: 6px;
  width: 96vw;
}

.finish-recipe-btn:disabled {
  background-color: rgb(132, 197, 132);
  border: transparent;
  border-radius: 9px;
  color: white;
  font-size: larger;
  font-weight: 600;
  height: 9vh;
  margin: 6px;
  width: 96vw;
}
