.details {
  background-color: azure;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.start-recipe-btn {
  background-color: green;
  bottom: 0%;
  box-sizing: border-box;
  height: 10%;
  position: fixed;
  width: 100%;
}
