.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-email-title {
  font-size: 1.6em;
  padding: 6px;
  text-align: center;
}

.profile-done-btn, .profile-favorite-btn, .profile-logout-btn {
  background-color: whitesmoke;
  border: transparent;
  border-radius: 6px;
  box-shadow: 0 0 6px -1px grey;
  font-size: larger;
  font-weight: 600;
  height: 9vh;
  width: 90vw;
}
