.Container{
    display: flex;
    flex-direction: column;
  }

  .loginEmail {
    color: teal;
    font-family: Yanone Kaffeesatz , sans-serif, bold;
    padding-top: 20px;
    text-align: center;
  }
  
.profile-done-btn {
    background-color: white;
  border-radius: 5px;
  box-shadow: 10px 5px 5px 5px rgb(195, 195, 195);
  margin: auto;
  margin-top: 2%;
  padding: 3%;
  width: 40%;
}

.profile-favorite-btn {
    background-color: white;
  border-radius: 5px;
  box-shadow: 10px 5px 5px 5px rgb(195, 195, 195);
  margin: auto;
  margin-top: 2%;
  padding: 3%;
  width: 40%;
}

.profile-logout-btn {
    background-color: white;
  border-radius: 5px;
  box-shadow: 10px 5px 5px 5px rgb(195, 195, 195);
  margin: auto;
  margin-top: 2%;
  padding: 3%;
  width: 40%;
}

@media screen and ( min-width : 340px ) and ( max-width : 380px ) {

    .Container {
      display: flex;
      flex-direction: column;
    }

    .profile-done-btn {
        background-color: white;
        border-radius: 5px;
        box-shadow: 10px 5px 5px 5px rgb(195, 195, 195);
        margin: auto;
        margin-top: 10%;
        padding: 3%;
        width: 90%;
      }
    
      .profile-favorite-btn {
        background-color: white;
        border-radius: 5px;
        box-shadow: 10px 5px 5px 5px rgb(195, 195, 195);
        margin: auto;
        margin-top: 10%;
        padding: 3%;
        width: 90%;
      }

      .profile-logout-btn {
        background-color: white;
      border-radius: 5px;
      box-shadow: 10px 5px 5px 5px rgb(195, 195, 195);
      margin: auto;
      margin-top: 10%;
      padding: 3%;
      width: 90%;
    }
}