.exploreDrinkIng {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 198px;
  width: 45%;

  align-items: center;
  justify-content: center;
  font-size: 27px;
  border: white;

  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-inline-start: 10px;
  margin-inline-end:  10px;

  box-shadow: 1px 5px 10px rgb(204, 201, 201);
  border-radius: 5px;
  background-color: white;

}

.exploreDrinkIngText {
  margin-right: auto;
  color: black;
  font-size: 20px;
  text-align-last:auto;
}

.exploreDrinkIngImg {
  width: 150px;
}