.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.category-container {
  margin-top: 50px;
  position: fixed;
  width: 100%;
}

.category-btn {
  background-color: white;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin-top: 46px;
  position: fixed;
  top: 0;
}

.category-btn button {
  background-color: var(--L-orange);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 11px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100px;
}
