/* .recomended-wrapper{
} */

.recomended {
  display: flex;
  flex-direction: row;
}

.recomended-card img {
  width: 100%;
}

.details-image {
  height: 50vw;
  width: 100vw;
}

.start-recipe-btn {
  bottom: 0;
  left: 10%;
  position: fixed;
  right: 10%;
}
