.main-section-progress {
  background: rgb(25, 62, 25) radial-gradient(circle, rgba(25, 62, 25, 1) 36%, black 85%);
  color: white;
  padding: 12px;
}

.recipe-img{
  width: 100%;
}

.title-progress {
  margin-top: 20px;
}

.ingredients-section {
  background-color: rgb(40, 100, 38);
  margin: 0;
  padding: 10px;
}

.instructions-progress {
  background-color: rgb(40, 100, 38);
  margin: 15px 0 50px 0;
  padding: 10px;
  text-align: justify;
}

.button-section {
  display: flex;
  justify-content: center;
}

.start-recipe-btn:disabled {
  background-color: rgba(128, 128, 128, 0.727);
}
