.container {
  width: 360px;
}

.drinks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 48px;
  margin-top: 16px;
  width: 360px;
}

.root-drinks {
  background: url('../images//recipes-back4.jpg') no-repeat top;
  background-size: cover;
  margin: 0 auto;
  width: 360px;
}
