.btn-explore {
  margin-bottom: 20px;
  width: 220px;
}

.btn-explore-drink {
  margin-bottom: 20px;
  width: 220px;
}

.btn-explore-food {
  margin-bottom: 20px;
  width: 220px;
}

.explore {
  display: flex;
  flex-direction: column;
  height: 640px;
  margin-top: 50%;
}

.explore-drink {
  display: flex;
  flex-direction: column;
  height: 640px;
  margin-top: 50%;
}

.fix-top {
  margin-top: 80px;
}

.select-expl {
  padding-bottom: 10px;
  padding-top: 20px;
}
