.bodyDiv {
  background-color: #070707c2;
  color: rgb(113, 182, 243);
  width: 280px;
}

.cardExplore {
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ff7f07;
  display: inline-flex;
  margin: 1px 8px 15px 1px;
  width: 130px;
}

.cardExplore p {
  font-size: medium;
  font-weight: 700;
  margin-bottom: 1px;
  text-align: center;
}

.bodyCardExplorer {
  margin-bottom: 55px;
}

.option {
  background-color: rgb(238, 255, 0);
}
