.ingredient-container {
  margin: 0 auto;
  width: 360px;
}

.ingredient-card {
  box-shadow: 4px 4px 4px #969595;
  margin: 8px;
}

.ingredient-card img {
  height: 140px;
  width: 140px;
}

header {
  background-color: #9e9a9a;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  padding: 8px;
  width: 360px;
}

header button {
  background: none;
  border: none;
  margin-left: 8px;
}

header p {
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 40px;
}

.ingredient-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 360px;
}
