.login-container {
  align-items: center;
  background-color: #fffffe;
  border: 1px solid #1f1f1f;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  max-width: 320px;
}

.login-container input {
  border: 1px solid #1f1f1f;
  border-radius: 6px;
  font-size: 14px;
  margin: 8px 0;
  outline: none;
  padding: 4px 8px;
  width: 240px;
}

.login-container button {
  background-color: #f1c708;
  border: 1px solid #f1c708;
  border-radius: 4px;
  color: #001e1d;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0;
  padding: 4px;
  transition: background-color 0.2s;
  width: 240px;
}

.login-container button:hover {
  background-color: #caa80e;
}
