body {
  background-image: url('../images/LoginTruckBack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 25px 0;
  width: 65%;
}

.logo {
  display: block;
  margin: 0;
  width: 75%;
  animation: logoAnimation 1s ;
  animation-iteration-count: infinite;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items:  center;
}

button {
  background-color: rgba(37, 150, 190, 1);
  border: none;
  border-radius: 15px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  width: 100%;
}

button:disabled {
  background-color: rgba(37, 150, 190, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

@keyframes logoAnimation {
  0% {
    transform: rotateZ(-25deg);
  }

  20% {
    transform: rotateZ(0deg);
  }

  40% {
    transform: rotateZ(25deg);
  }

  80% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-25deg);
  }
}