.container {
  padding: 0;
  width: 360px;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 48px;
  margin-top: 24px;
  width: 360px;
}

.root-recipes {
  background: url('../images//recipes-back4.jpg') no-repeat top;
  background-size: cover;
  margin: 0 auto;
  width: 360px;
}
