.body-details {
  background-color: #0fa36b;

  /* box-sizing: border-box; */
  margin-top: -90px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
}

.button-details {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.title-details {
  margin-top: -10px;
  padding-left: 6px;
}

.header-details {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  padding-bottom: 0;
}

iframe {
  margin-left: 6px;
  width: 96%;
}

.imgtittle {
  height: 180px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.ingredients {
  background-color: #80808042;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  margin: 6px;
  padding-left: 6px;
}

.meals {
  height: fit-content;
  min-height: 100%;
}

.nodot {
  list-style-type: none;
}

.img-details {
  width: 170px;
}

.recipeName {
  align-self: center;
  height: auto;
}

.RecommendCard {
  background-color: #0064005e;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  height: 30vh;
  margin-left: 3px;
}

.RecomendImg {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 26vh;
  width: 46.5vw;
}

.sugestions {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 35px;
}
