.search-form {
  background-color: #4884ad;
  border-radius: 0 0 15px 15px;
  color: white;
  padding: 8px 16px 16px;
}

.search-form label:hover {
  cursor: pointer;
}

.input-search {
  margin-bottom: 16px;
  width: 100%;
}

.search-form button {
  background-color: #003043;
  border: 0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px , rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  color: white;
  display: block;
  margin: 16px auto;
  opacity: 0.8;
  padding: 4px 0;
  width: 80%;
}

.search-form button:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.search-form div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
