.origin__card-div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.origin__card-div h4 {
  color: #873d40;
  font-family: Dancing Script , cursive;
  font-weight: 600;
  margin: 20px 0 40px;
  text-align: center;
}

.origin__card-div img {
  border-radius: 20px;
  width: 340px;
}

.origin__country-selection {
  background-color: white;
  border: none;
  border-radius: 4px;
  margin: 100px auto 20px;
  padding: 5px;
}
