.explore {
  display: flex;
  height: 400px;
  margin-top: 100px;
  text-align: center;
}

.explore__link-button {
  background-color: #f7d6cf;
  border-radius: 10px;
  box-shadow: 2px 2px 4px lightcoral;
  color: #492b22;
  font-family: Dancing Script , cursive;
  font-size: 26px;
  margin: 45px 0;
  padding: 15px;
}

.explore__link-button img {
  margin: auto;
}

.explore__icons {
  height: 60px;
}

a {
  color: inherit;
}
