.exploreFood-btn {
  background-color: #f7ce5d;
  border: white;
  border-radius: 5px;
  box-shadow: 1px 5px 10px rgb(250, 194, 194);
  display: inline-flex;
  flex-direction: row;
  font-size: 27px;
  height: 98px;
  justify-content: center;
  margin-inline-end: 10px;
  margin-inline-start: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  width: 44%;
}
