.header-noSearch {
  
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(204, 201, 201);
  width: 100%;
  height: 60px;
  /* justify-content: center; */
}

.header-noSearchImagem {
  display: flex;
  background-color: rgb(204, 201, 201);
  margin-left: auto;
  width: 120%;
  
}

.header-noSearchText {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.header-noSearchButton {
  background-color: rgb(204, 201, 201);
  border: none;
  
}