body {
  background-color: transparent;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.user-header-footer {
  background: white;
  border: 2px solid black;
  border-radius: 10px 2px;
}

.title {
  text-shadow: 0.2px 5px 5px lightgray;
}
