footer {
  /* background-color: rgb(202, 25, 25); */
  background-color: #ED5F65;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.buttons-footer {
  display: flex;
  justify-content: space-around;
}
