.buttons-drinks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 360px;
}
  
.check-drinks-filter label {
  background-color: white;
  border-radius: 4px;
  height: 48px;
  opacity: 0.8;
  text-align: center;
  width: 100px;
}

.check-drinks-filter span {
  color: #cf3304;
  font-size: 19px;
  font-weight: 600;
  margin-left: 4px;
}

.all-categories {
  background-color: white;
  border-radius: 4px;
  color: #cf3304;
  font-size: 22px;
  font-weight: 600;
  opacity: 0.8;
  width: 100px;
}

.all-categories input {
  margin-right: 6px;
}
