* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}

.card {
  color: var(--D-orange);
  display: flex;
  flex-flow: column;
  margin: 10px;
  text-align: center;
  width: 40%;
}

.card:hover {
  border: 1px solid var(--L-orange);
}

.card-image {
  width: 100%;
}

.recipe-name {
  font-size: 15px;
  margin-top: 10px;
}
