.footer {
  background-color: #2a5433bf;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  position: fixed;
  width: 100%;
}

.footer img {
  filter: invert(100%) sepia(0%)
    saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
