.foother {
  background-color: #ffd12d;
  border: 1px solid black;
  bottom: 0;
  box-shadow: 0 0 25px currentColor;
  padding: 8px;
  position: fixed;
  width: 100%;
}
.barra-de-navegacao { 
  display: flex;
  justify-content: space-around;
}

.img-link {
  background-color: transparent;
}
