.foother {
  border: 1px solid black;
  box-shadow: 0 0 25px currentColor;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #FFD12D;
  padding: 15px;
}
.img-link {
  background-color:transparent;
  margin-left: auto;
  margin-right: auto;
}
