.header-container {
  display: flex;
  width: 360px;
}

.header-container .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-container .header p {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}
