.header {
  align-items: center;
  background-color: #2a5433;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.header img {
  filter: invert(100%) sepia(0%) saturate(0%)
    hue-rotate(93deg) brightness(103%) contrast(103%);
}

.header h3 {
  margin: 0;
}

.search-icon-button {
  background: none;
  border: none;
}

.search-icon-button:active, .search-icon-button:focus {
  outline: none;
}

.search-form {
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  width: 95%;
}

.input-radio {
  margin: 0 8px;
}
