.buttons {
  background-color: transparent;
  border: none;
}

.header {
  background-color: #02635ab8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 5px;
  padding-top: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.title {
  font-size: 2rem;
}
