.recipe-card {
  background-color: #e7e7e7;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #969595;
  height: 170px;
  margin-bottom: 8px;
  max-width: 140px;
  overflow-y: hidden;
}

.recipe-card p {
  color: #e7361f;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.recipe-card img {
  height: 140px;
  width: 140px;
}
