body {
  background-color: #ffbb3362;
  font-family: Poppins , sans-serif;
}

.link-card-foods {
  background-color: #fed;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  height: 46vw;
  margin: 5px;
  max-height: 190px;
  max-width: 190px;
  width: 46vw;
}

.link-card-foods div {
  align-items: center;
  border-radius: 5px;
  color: #350;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100%;
}


.link-card-foods img {
  border-radius: 5px;
  width: 100%;
}

.recipe-name {
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 5px;
  bottom: 2px;
  font-family: Fjalla One , sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 3px;
  position: absolute;
  text-align: center;
  width: 100%;
}
