.recipe-details {
  text-align: center;
}

.block-photo {
  background-color: var(--color-secund);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0;
  padding: 30px;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

.recipe-photo {
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  max-height: 300px;
  max-width: 300px;
  width: auto;
}

.recipe-title {
  background-color: var(--color-secund);
  font-family: var(--text-bangers);
  margin-bottom: 10px;
  margin-top: 20px;
}

.recipe-category {
  font-family: var(--text-abel);
  font-size: 25px;
  margin-bottom: 0;
}

.instructions {
  background-color: var(--color-secund);
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
}

.instructions :nth-child( 1 ) {
  font-family: var(--text-russo);
}
