.drink-card {
  align-items: center;
  background-color: var(--color-secund);
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(200, 200, 200);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto 0;
  width: 70%;
}

.drink-card img {
  border-radius: 20px 20px 0 0;
  height: auto;
  width: 100%;
}

.drink-card p {
  font-family: var(--text-pacifico);
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 20px;
}
