.explore-btn {
  background-color: white;
  border: white;
  border-radius: 5px;
  box-shadow: 1px 5px 10px rgb(204, 201, 201);
  display: flex;
  flex-direction: column;
  font-size: 27px;
  height: 50px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80%;
}
