.dropdown-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 5vh;
  justify-content: center;
  margin-top: 3px;
  text-align: center;
  width: 100vw;
}

.select-explore {
  background-color: white;
  border: 0.5px solid #673;
  border-radius: 5px;
  height: 30px;
  outline: none;
  padding: 2px 5px;
  width: 50%;
}
