.page-explore {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.page-explore .explore-buttons {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 75%;
}

.explore-buttons button {
  background-color: rgb(245, 71, 73);
  border-radius: 8px;
  color: white;
  font-weight: 600;
  margin: 10px;
}
