@import "./styles/colors";

@import "./styles/details";

@import "./styles/in-progress";

@import "./styles/ingredients";

@import "./styles/login";

@import "./styles/header";

@import "./styles/explores";

@import "./styles/header";

@import "./styles/profile";

@import "./styles/loading";

@import "./styles/Footer";

@import "./styles/recipes-list";

@import "./styles/done";

@font-face {
  font-family: KithcenHome;
  src: url("./fonts/KitchenHome-rg0gB.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

main {
  // height: 100vh;
  font-family: Poppins, sans-serif;
}

body {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(13) rotate(20)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(154, 16%, 91%, 1)'/><path d='M20-5V5m0 30v10m20-30v10M0 15v10'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(354, 70%, 54%, 1)' fill='none'/><path d='M-5 40H5M-5 0H5m30 0h10M35 40h10M15 20h10'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(178, 100%, 33%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-117,-182)' fill='url(%23a)'/></svg>");
  background-attachment: fixed;
  border: 0;
  padding: 0;
  height: 100vh;
}

.icon,
.share-icon,
.favorite-img {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(4deg) brightness(104%) contrast(101%);
}
