* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-button-filter {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 3.125rem;
}

.button-filter {
  background-color: #606c38;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0.125rem 0.125rem 0.25rem #c5c5c5;
  color: #fefae0;
  font-family: Lato , sans-serif;
  font-size: 1rem;
  margin: 0.313rem;
  min-width: 6.25rem;
  outline: none;
  padding: 0 0.5rem;
}

.button-filter:focus {
  background-color: #6a7a35;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0.188rem 0.188rem 0.25rem #c5c5c5;
  color: #fefae0;
  font-family: Lato , sans-serif;
  font-size: 1rem;
  font-weight: 700;
  min-width: 6.25rem;
  outline: none;
}

.login-page {
  align-items: center;
  background-image: url('./images/background.jpg');
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.profile-page {
  align-items: center;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.profile-card {
  align-items: center;
  background: rgba(255, 254, 251, 0.85);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 402px;
  left: 31px;
  position: absolute;
  top: 86px;
  width: 255px;
}

.profile {
  color: #161616;
  display: flex;
  font-family: Lato , sans-serif;
  left: 120px;
  position: absolute;
  top: 100px;
}

.email {
  color: #161616;
  display: flex;
  font-family: Lato , sans-serif;
  font-size: medium;
  left: 73px;
  position: absolute;
  top: 130px;
}

.btn-done {
  align-items: center;
  border-radius: 80%;
  height: 36px;
  left: 69px;
  position: absolute;
  top: 260px;
  width: 180px;
}

.btn-favorite {
  align-items: center;
  border-radius: 80px;
  height: 36px;
  left: 69px;
  position: absolute;
  top: 330px;
  width: 180px;
}

.btn-logout {
  background-color: #606c38;
  height: 36px;
  left: 69px;
  position: absolute;
  top: 400px;
  width: 180px;
}

.logo {
  align-items: center;
  border-radius: 80px;
  height: 280px;
  left: -10px;
  position: absolute;
  top: 70px;
  width: 340px;
}

.profile-logo {
  align-items: center;
  border-radius: 80px;
  height: 280px;
  left: -32px;
  position: absolute;
  top: -30px;
  width: 340px;
}

.login {
  align-items: center;
  background: rgba(255, 254, 251, 0.85);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 402px;
  left: 30px;
  position: absolute;
  top: 86px;
  width: 255px;
}

.mb-1 {
  align-items: center;
  border-radius: 80%;
  height: 46px;
  left: 11px;
  position: absolute;
  top: 210px;
  width: 234px;
}

.mb-2 {
  align-items: center;
  border-radius: 80px;
  height: 46px;
  left: 11px;
  position: absolute;
  top: 260px;
  width: 234px;
}

.mb-3 {
  background-color: #606c38;
  height: 36px;
  left: 53px;
  position: absolute;
  top: 320px;
  width: 149px;
}

.container-cards {
  align-items: center;
  background-color: #fefae0;
  display: flex;
  flex-flow: column wrap;
  height: auto;
  justify-content: space-evenly;
}

.horizontal-card {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0.125rem 0.125rem 0.25rem #c5c5c5;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0;
  min-height: 6.25rem;
  outline: none;
  width: 90vw;
}

.img-horizontal-card {
  border-bottom-left-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  width: 6.25rem;
}

.horizontal-card-infos {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin-left: 0.938rem;
  width: 11.875rem;
}

.name-horizontal-card {
  color: #161616;
  font-family: Lato , sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  padding: 0.125rem 0;
  text-decoration: none;
}

.button-general {
  background-color: #606c38;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0.25rem #c5c5c5;
  color: #fefae0;
  font-family: Lato , sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  margin: 1.875rem;
  min-height: 3.125rem;
  min-width: 70vw;
  outline: none;
}

.button-general:focus {
  background-color: #6a7a35;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.188rem 0.188rem 0.25rem #c5c5c5;
  color: #fefae0;
  font-family: Lato , sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  margin: 1.875rem;
  min-height: 3.125rem;
  min-width: 70vw;
  outline: none;
}

.container-buttons {
  align-items: center;
  background-color: #fefae0;
  display: flex;
  flex-flow: column wrap;
  height: 90vh;
  justify-content: flex-start;
  padding: 1.875rem 0;
  padding-top: 3.125rem;
}

.pages {
  background-color: #fefae0;
  color: #161616;
  min-height: 100vh;
}

.loading {
  margin: 45vh 45vw;
}

.header-space {
  background-color: #fefae0;
  height: 3.125rem;
}
