.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.header-profile {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.header-title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.image-div {
  text-align: center;
}

.image-section {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.ingredient-image {
  box-shadow: 0 0 10px rgb(158, 156, 156);
  display: flex;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.btn-success {
  margin: 10px 5px;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.cardsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.cardFlex {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.cardTumb {
  height: 300px;
  margin-bottom: 10px;
  transition: all 0.2s;
  width: 350px;
}

.cardTumb:hover {
  box-shadow: 0 0 10px rgb(158, 156, 156);
  transform: scale(1.02);
}

@media only screen and ( max-width : 360px ) {

  .header-profile {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
  }

  .search-input {
    display: inline-block;
    text-align: center;
  }

  .cardFlex {
    font-size: 25px;
    font-weight: 700;
  }

  .radio-btn {
    margin: 0 10px;
  }

  .header-search {
    display: inline-block;
  }

  .search-open {
    display: flex;
  }

  .categories {
    text-align: center;
  }

  .input-text {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
  }

  .search-radio {
    display: flex;
    padding-top: 10px;
  }

  .header-title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
