.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.containerLogin {
  align-items: center;
  background: #ef6a07;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form-label {
  color: white;
  font-size: 25px;
}

.containerLogin button {
  color: white;
  font-weight: 700;
  margin-top: 70px;
  width: 100%;
}

.textLogin {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

.textLogin img {
  width: 65px;
}

.textLogin h1 {
  color: white;
  font-size: 55px;
}

.main-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile-email {
  margin-bottom: 8vh;
  margin-top: 5vh;
}

.profile-btn {
  background-color: #ef6a07;
  border-color: #ef6a07;
  border-radius: 5px;
  color: white;
  height: 10vh;
  margin: 2vh 0;
  width: 100%;
}

.label-btn {
  font-size: 4vh;
  font-weight: 900;
}

.container-filter-btn {
  display: flex;
  justify-content: space-around;
}

.filter-btn {
  background-color: #ef6a07;
  border-color: #ef6a07;
  border-radius: 5px;
  color: white;
  height: 7vh;
  margin: 3vh 1vw;
  width: 100%;
}

.recipe-done-card {
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ef6a07;
  display: flex;
  margin-bottom: 5vh;
  width: 100%;
}


.recipe-done-card-infos {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 16vw;
}

.name-recipe-done-card {
  color: black;
}

.share-button {
  width: 12vw;
}

.recipe-favorite-card {
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ef6a07;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  width: 100%;
}

.name-recipe-favorite-card {
  color: black;
  display: flex;
  justify-content: center;

}

.icon-favorite-card {
  padding: 2vh;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.step-done {
  text-decoration: line-through solid;
}

.div-header {
  background-color: #ef6a07;
  display: flex;
  justify-content: space-around;
  padding: 3vh 0;
}

.div-header a {
  padding-left: 10px;
}

.header-brn {
  border-radius: 50px;
  height: 7vh;
}

.header-title {
  color: white;
  font-weight: 800;
  margin-left: 20px;
}

footer {
  background-color: #ef6a07;
  padding: 10px;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: space-around;

}

.explore-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

.explore-btn {
  background-color: #ef6a07;
  border-radius: 0;
  color: white;
  font-size: 30px;
  margin: 10px;
  margin-bottom: 50px;
  padding: 10px 20px;
  width: 100%;
}

.cardFoodDrinkExplore {
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ef6a07;
  display: inline-flex;
  margin: 5px 20px 10px 10px;
  width: 150px;
}

.mainDetail h1, h2, span, li {
  color: white;
}

.cardFoodDrinkExplore h2 {
  color: #ff6f00;
  display: flex;
  font-size: 35px;
  justify-content: center;
  opacity: 0.8;
  text-shadow: 0.1em 0.1em 0.05em #b9b9b9;
}

.containerCardsMealsDrinks {
  margin-bottom: 60px;
}

.buttonMealsDrinks {
  background-color: #5c5c5c;
  border: none;
  border-radius: 4px;
  color: white;
  height: 40px;
  margin: 10px 2px;
}

.scrollMelsDrinks {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100vw;
}

.mainDetail {
  background-color: #ef6a07;
}

.nameDrinkMealsDetails {
  align-items: center;
  background-color: #5c5c5c;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-bottom: 15px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.nameDrinkMealsDetails span {
  margin-left: 10px;
}

.recomendadosMealDrinks {
  background-color: #5c5c5c;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-bottom: 10px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.in-progress {
  background-color: #ef6a07;
}

.main-infos {
  align-items: center;
  background-color: #5c5c5c;
  color: white;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 10px;
  padding: 5px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.main-infos h1 {
  padding-left: 30px;
}

.main-infos button {
  border-radius: 10px;
  height: 40px;
  margin-right: 5px;
}

.nameDrinkMealsInprogress {
  align-items: center;
  background-color: #5c5c5c;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-bottom: 15px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.nameDrinkMealsInprogress li {
  list-style: none;
}

.nameDrinkMealsInprogress h2 {
  margin-bottom: 30px;
}

.nameDrinkMealsInprogress label {
  align-items: center;
  display: flex;
}

.nameDrinkMealsInprogress p {
  display: flex;
  margin-left: 30px;
  font-size: x-large;
  font-weight: 600;
  padding-top: 5px;
}

.nameDrinkMealsInprogress input {
  transform: scale(1.5);
}

.explore-containerMeals {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.explore-btnMeals {
  background-color: #ef6a07;
  border-radius: 0;
  color: white;
  font-size: x-large;
  font-weight: 800;
  height: 50px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
