@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap') ;

* {
  box-sizing: border-box;
  font-family: Roboto , sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: white ;
}

