.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #ebf2fa;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.footer img {
  width: 10vw;
}

.selected-drink {
  background-color: #4279a1;
}

.selected-meal {
  background-color: #f7b32b;
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  margin-bottom: 50px;
}

.recipe-card {
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 2px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px black;
          box-shadow: 0 2px 5px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
}

.recipe-card img {
  width: 175px;
  border-radius: 5px 5px 0 0;
}

.card-name {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  word-wrap: break-word;
}

.details .drink-img, .details .meal-img {
  width: 100vw;
}

.details .start {
  position: fixed;
  bottom: 0px;
  right: 0;
}

.in-progress .in-progress-pic {
  width: 100vw;
}

.ingredients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  margin-bottom: 50px;
}

.ingredient-card {
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 2px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px black;
          box-shadow: 0 2px 5px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
  text-align: center;
}

.ingredient-card img {
  width: 175px;
  border-radius: 5px 5px 0 0;
}

.login {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00a9a2;
  background-image: url("./images/tryberchef.jpg");
  background-size: cover;
}

.login .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(250, 250, 250, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 10px;
  width: 90vw;
  border-radius: 5px;
}

@font-face {
  font-family: KithcenHome;
  src: url("./fonts/KitchenHome-rg0gB.ttf");
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00a9a2;
  width: 100vw;
  font-family: KithcenHome, sans-serif;
  padding: 5px;
  color: #e5ece9;
}

.header h2 {
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5vw;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.search-bar {
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  top: 51px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #e5ece9;
  width: 100vw;
  border-radius: 0 0 5px 5px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explore header {
  margin-bottom: 10px;
}

.explore-btns {
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explore-btns button {
  margin: 10px;
}

.origin-select {
  margin: 0;
}

@font-face {
  font-family: KithcenHome;
  src: url("./fonts/KitchenHome-rg0gB.ttf");
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00a9a2;
  width: 100vw;
  font-family: KithcenHome, sans-serif;
  padding: 5px;
  color: #e5ece9;
}

.header h2 {
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5vw;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.search-bar {
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  top: 51px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #e5ece9;
  width: 100vw;
  border-radius: 0 0 5px 5px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@font-face {
  font-family: KithcenHome;
  src: url("./fonts/KitchenHome-rg0gB.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

main {
  font-family: Poppins, sans-serif;
}

body {
  border: 0;
  padding: 0;
}

.btn-primary {
  background-color: #00a9a2 !important;
  border: none !important;
}

.icon,
.share-icon,
.favorite-img {
  -webkit-filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(4deg) brightness(104%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(4deg) brightness(104%) contrast(101%);
}

.btn-primary {
  background-color: #00a9a2 !important;
  border: none !important;
}

.icon, .share-icon, .favorite-img {
  -webkit-filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(4deg) brightness(104%) contrast(101%);
          filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(4deg) brightness(104%) contrast(101%);
}
/*# sourceMappingURL=index.css.map */