.login-button {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  color: rgb(202, 201, 201);
  cursor: pointer;
  font-weight: 700;
  margin-top: 5vh;
  position: relative;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  width: 100px;
}

/* Estilo do botão retirado da página:
  https://edrodrigues.com.br/blog/20-incriveis-botoes-animados-de-css-puro/
  pertencente a Ed Rodrigues */

.enable {
  border-color: green;
  color: black;
}

.enable:hover {
  background-color: transparent;
  color: black;
  text-shadow: none;
}

.enable:before {
  background: green;
  border-radius: 15px;
  color: black;
  content: '';
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  width: 100%;
  z-index: -1;
}

.enable:hover:before {
  bottom: 0;
  height: 100%;
  top: auto;
}

.login-email {
  background-color: green;
  border: 3px solid green;
  border-radius: 5px;
  color: goldenrod;
  font-family: sans-serif;
  font-weight: 700;
  width: 77vw;
}

.login-email:focus {
  background-color: darkgreen;
  border: 3px solid black;
  border-radius: 5px;
  outline: none;
}

.login-senha {
  background-color: green;
  border: 3px solid green;
  border-radius: 5px;
  color: goldenrod;
  font-family: sans-serif;
  font-weight: 700;
  width: 77vw;
}

.login-senha:focus {
  background-color: darkgreen;
  border: 3px solid black;
  border-radius: 5px;
  outline: none;
}

.login-form {
  margin-top: 35vh;
  text-align: center;
}

.login-section {
  align-items: center;
  background-image: url('./images/horaDoRango.png');
  background-position-x: center;
  background-position-y: 40px;
  background-repeat: no-repeat;
  background-size: 100vw;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-transform: uppercase;
  width: 100vw;
}

.texto-email {
  align-items: center;
  color: green;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
}

.texto-senha {
  align-items: center;
  color: green;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
}
