.explore-container {
  display: flex;
  flex-direction: column;
}

.explore-container button {
  background: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  height: 82px;
  margin: 30px 10px;
  transition: all 0.3s ease-in-out;
  width: 327px;
}

.explore-container button:hover {
  background-color: green;
  border-radius: 20px;
  color: white;
}
