.progress-container {
  background-color: white;
  border: solid #c4c4c4 1px;
  font-family: Roboto , sans-serif;
  min-height: 640px;
  width: 360px;
}

.progress-container img {
  height: 155px;
  width: 360px;
}

.step1-container {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.step1-container h4 {
  margin-bottom: 0;
}

.share-fav-btn-container {
  display: flex;
  margin-right: 5px;
}

.share-fav-btn-container button {
  background-color: white;
  border: none;
  height: 30px;
  padding: 0;
  width: 50px;
}

.share-fav-btn-container button img {
  height: 22px;
}

.category-container {
  color: darkgray;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  margin-top: 0;
}

.list-ingredient {
  background: #ececec;
  border: none;
  border-radius: 4px;
  list-style: none;
  margin: 0 auto 10px;
  padding: 10px 5px;
  width: 341px;
}

.list-ingredient input {
  margin-right: 10px;
}

.instructions-container {
  background: #ececec;
  border: none;
  border-radius: 4px;
  margin: 0 auto 10px;
  padding: 10px 9px;
  width: 341px;
}

.btn-finalizar {
  border: none;
  border-radius: 20px;
  margin: 30px 20px;
  padding: 10px 0;
  transition: all 0.5s ease-in-out;
  width: 320px;
}
